#monaco-editor {
  position: absolute;
  height: 100%;
  width: 100%;
}
.yRemoteSelection {
  background-color: rgb(250, 129, 0, 0.5);
}
.yRemoteSelectionHead {
  border-left: orange solid 2px;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
}
